body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccccc24;
}

h1 {
    text-align: center;
}

.img-logo-cadastro {
    display: flex;
    justify-content: center;
}

.img-logo-cadastro img {
    width: 150px;
    height: 40px;
}

#loginForm {
    background-color: #fff;
    margin: 5% auto;
    width: 500px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #57565613;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #5e17eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
    width: 200px;
}

button:hover {
    background-color: #38069e;
}

.login-container p {
    text-align: center;
    margin-bottom: 20px;
}