.container-marketplace {
    max-width: 12000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

ul.menu-categorias {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: red;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha em telas menores */
    justify-content: center; /* Centraliza os cards horizontalmente */
    gap: 1rem;
}

.curso-card {
    border: 1px solid #000;
    background-color: red;
    border-radius: 10px;
    width: calc(33.33% - 2rem); /* Ajusta a largura para ocupar aproximadamente 1/3 da largura da tela */
    max-width: 300px; /* Limita a largura máxima do card */
    padding: 20px;
    margin: 0.5rem; /* Adiciona espaço entre os cards */
}

/* Estilos para telas menores (como smartphones) */
@media screen and (max-width: 768px) {
    .cards-container {
        flex-direction: column; /* Altera o layout para empilhamento em telas menores */
    }

    .curso-card {
        width: 100%; /* Ocupa toda a largura da tela em telas menores */
        margin: 0.5rem 0; /* Espaço superior e inferior entre os cards */
    }
}
